.Dwnload_WP_Settings_Api__container {
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin-top: 1rem;
}

.Dwnload_WP_Settings_Api__container .Dwnload_WP_Settings_Api__header {
    box-sizing: border-box;
    float: none !important;
    position: relative !important;
    width: 100% !important;
}

.Dwnload_WP_Settings_Api__header h2,
.Dwnload_WP_Settings_Api__header h3 {
    display: inline-block;
    padding-right: .5rem;
}

.Dwnload_WP_Settings_Api__header a {
    color: inherit;
    text-decoration: none;
}

.Dwnload_WP_Settings_Api__container .Dwnload_WP_Settings_Api__header {
    padding: .4rem .9rem .8rem;
}

/************ NOTICES *************/
.Dwnload_WP_Settings_Api__notices > div {
    margin: 0;
}

.Dwnload_WP_Settings_Api__notices h2 {
    display: none;
}

.Dwnload_WP_Settings_Api__notices div.error,
.Dwnload_WP_Settings_Api__notices div.updated {
    background-color: transparent;
    margin: 0;
    border-right: 0;
}

/************ STICKY *************/
.Dwnload_WP_Settings_Api__sticky {
    background: #f3f3f3;
    box-shadow: 0 1px 0 #dedede inset;
    padding: 0;
    position: relative;
    z-index: 19;
}

.Dwnload_WP_Settings_Api__sticky .wrap {
    margin: 0;
    padding: .5rem .8rem;
}

.is-sticky > .Dwnload_WP_Settings_Api__sticky {
    bottom: 0;
    border-top: 1px solid #dedede;
    box-shadow: 0 1px 0 #fcfcfc inset;
    top: auto !important;
}

.Dwnload_WP_Settings_Api__sticky_notice {
    display: inline-block;
}

.Dwnload_WP_Settings_Api__sticky_notice ul.social {
    display: none;
    margin: .5rem 0 0 0;
}

.is-sticky .Dwnload_WP_Settings_Api__sticky_notice ul.social {
    display: inline-block;
}

.Dwnload_WP_Settings_Api__sticky_notice ul li {
    display: inline;
    margin-right: 8px;
}

.Dwnload_WP_Settings_Api__sticky_notice ul li a {
    color: #898989;
    text-decoration: none;
}

.Dwnload_WP_Settings_Api__sticky_notice ul li a:hover {
    text-decoration: underline;
}

/*******SIDEBAR/MAIN *************/
.Dwnload_WP_Settings_Api__container .Dwnload_WP_Settings_Api__sidebar,
.Dwnload_WP_Settings_Api__container .Dwnload_WP_Settings_Api__body {
    min-height: 950px;
}

/************ SIDEBAR ************/
.Dwnload_WP_Settings_Api__sidebar {
    float: left;
    width: 222px;
}

#wpbody-content .Dwnload_WP_Settings_Api__menu > .metabox-holder {
    padding-top: 10px;
}

#wpbody-content .Dwnload_WP_Settings_Api__menu > .metabox-holder ~ .metabox-holder {
    padding-top: 0;
}

.Dwnload_WP_Settings_Api__menu {
    border-top: 1px solid #dedede;
    margin-top: 0;
}

.Dwnload_WP_Settings_Api__menu li {
    margin-bottom: 2px;
}

.Dwnload_WP_Settings_Api__menu li > a[data-tab-id] {
    border-bottom: 1px solid #dedede;
    box-shadow: 0 1px 0 #fff;
    color: #555;
    display: block;
    padding: .8rem 1.15rem;
    text-decoration: none;
    -webkit-transition: border-bottom 190ms;
    -moz-transition: border-bottom 190ms;
    transition: border-bottom 190ms;;
}

.Dwnload_WP_Settings_Api__menu li > a[data-tab-id]:hover {
    color: #222;
    border-bottom-color: #00426d;
}

.Dwnload_WP_Settings_Api__menu li > a[data-tab-id].active {
    background-color: #0074a2;
    border-bottom: 2px solid #00426d;
    color: #efefef;
}

.Dwnload_WP_Settings_Api__sidebar li {
    list-style: none;
}

.Dwnload_WP_Settings_Api__sidebar .postbox {
    border-right: none;
    border-left: none;
    margin-bottom: 1px;
    min-width: 100%;
}

/************ MAIN ***************/
.Dwnload_WP_Settings_Api__body {
    background: none repeat scroll 0 0 #fcfcfc;
    border-top: 1px solid #dedede;
    border-left: 1px solid #d8d8d8;
    box-shadow: 0 1px 0 #fff inset;
    margin-left: 221px;
    padding: .8rem 1.5rem;
    position: relative;
    z-index: 1;
}

.Dwnload_WP_Settings_Api__body > .group {
    display: none;
}

.no-js .Dwnload_WP_Settings_Api__body > .group {
    display: block;
}

.Dwnload_WP_Settings_Api__container .Dwnload_WP_Settings_Api__body h3 {
    border-bottom: 1px solid #e7e7e7;
    line-height: 2rem;
    margin-top: 0;
}

.Dwnload_WP_Settings_Api__body .form-table {
    clear: none;
    margin-top: 0 !important;
}

.Dwnload_WP_Settings_Api__body .form-table th {
    font-weight: 400;
    min-width: 150px; /* Set a minimum */
    width: inherit; /* Overwrite the 200px width */
}

.Dwnload_WP_Settings_Api__body .form-table th h4 {
    font-weight: 600;
    font-size: 1.20rem;
    margin: 0.95rem 0;
}

p.style-pack-img-wrapper img {
    height: auto;
    max-width: 640px;
    width: 100%;
}

/* CALLBACKS */
.Dwnload_WP_Settings_Api__body .checkbox-wrap {
    display: inline-block;
    float: left;
    margin: 0 35px 0 0;
    position: relative;
}

.Dwnload_WP_Settings_Api__body .Dwnload_WP_Settings_Api__colorpicker {
    position: relative;
}

.Dwnload_WP_Settings_Api__body .Dwnload_WP_Settings_Api__colorpicker * {
    transition: none;
}

.Dwnload_WP_Settings_Api__body .wp-picker-container {
    float: left;
    margin-right: 10px;
}

.Dwnload_WP_Settings_Api__body .Dwnload_WP_Settings_Api__colorpicker .checkbox-wrap {
    float: left;
}

.Dwnload_WP_Settings_Api__body .Dwnload_WP_Settings_Api__colorpicker .checkbox-wrap > input {
    float: none;
}

.Dwnload_WP_Settings_Api__container select {
    min-width: 120px;
}

.Dwnload_WP_Settings_Api__body .img-wrapper {
    height: auto;
    margin: 10px 0;
    width: 100%;
}

.Dwnload_WP_Settings_Api__body .img-wrapper img {
    border: 1px solid #aaa;
    box-shadow: 0 0 2px 0 #BFBFBF;
    height: auto;
    width: 250px;
}

.Dwnload_WP_Settings_Api__body .img-wrapper a {
    display: block;
}

@media screen and (max-width: 600px) {
    .Dwnload_WP_Settings_Api__sidebar {
        float: none;
        width: 100%;
    }

    .Dwnload_WP_Settings_Api__body {
        float: none;
        margin-left: 0;
    }
}

/* SECTIONS  */
.section {
    clear: both;
    padding: 0;
    margin: 0;
}

.section * {
    box-sizing: border-box;
}

/* COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
}

/* GRID OF TWO */
.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 50%;
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.1%;
}

.span_1_of_3 {
    width: 32.2%;
}

/* GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 762px) {
    .col {
        margin: 1% 0 1em;
    }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    .span_1_of_2 {
        width: 100%;
    }

    .span_3_of_3 {
        width: 100%;
    }

    .span_2_of_3 {
        width: 100%;
    }

    .span_1_of_3 {
        width: 100%;
    }
}
